/* Variables de color */
:root {
  --color-smoke: #2c2c2c;
}

/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  max-width: none;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  width: 100%;
}

.price-label {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-smoke);
}